# --- For-Bot-Working --------- #
git+https://github.com/Sahil0976/pyrogram
pyromod
motor
pyrogram>=2.0.0
tgcrypto
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
